In [1]:
import pandas as pd

In [7]:
df_rl = pd.read_csv('../assignment-development/data/rl.csv')
df_rl

,Unnamed: 0,Total orders,Avg. Early pickup time,Fulfilled orders,Dropped orders,Rejected orders,Profit,Utilisation spread
0,count,10.0,10.000000,10.0,10.0,10.0,10.0,10.000000
1,mean,0.0,-43.438242,0.0,0.0,0.0,0.0,0.542443
2,std,0.0,79.029441,0.0,0.0,0.0,0.0,0.184058
3,min,0.0,-267.112407,0.0,0.0,0.0,0.0,0.364473
4,25%,0.0,-28.242734,0.0,0.0,0.0,0.0,0.385877
5,50%,0.0,-19.877266,0.0,0.0,0.0,0.0,0.503687
6,75%,0.0,-12.200091,0.0,0.0,0.0,0.0,0.617473
7,max,0.0,-6.127270,0.0,0.0,0.0,0.0,0.924046

In [8]:
df_util = pd.read_csv('../assignment-development/data/util.csv')
df_util

,Unnamed: 0,Total orders,Avg. Early pickup time,Fulfilled orders,Dropped orders,Rejected orders,Profit,Utilisation spread
0,count,10.0,10.000000,10.0,10.0,10.0,10.0,10.000000
1,mean,0.0,-25.021640,0.0,0.0,0.0,0.0,0.502030
2,std,0.0,7.709872,0.0,0.0,0.0,0.0,0.166288
3,min,0.0,-41.118188,0.0,0.0,0.0,0.0,0.332470
4,25%,0.0,-28.351916,0.0,0.0,0.0,0.0,0.369146
5,50%,0.0,-24.950762,0.0,0.0,0.0,0.0,0.448176
6,75%,0.0,-20.326162,0.0,0.0,0.0,0.0,0.620655
7,max,0.0,-14.466280,0.0,0.0,0.0,0.0,0.830767

In [4]:
df_close = pd.read_csv('../assignment-development/data/close.csv')
df_close

,Unnamed: 0,Total orders,Avg. Early pickup time,Fulfilled orders,Dropped orders,Rejected orders,Profit,Utilisation spread
0,count,10.0,10.000000,10.0,10.0,10.0,10.0,10.000000
1,mean,0.0,12.903962,0.0,0.0,0.0,0.0,0.573970
2,std,0.0,1.446534,0.0,0.0,0.0,0.0,0.179777
3,min,0.0,10.611891,0.0,0.0,0.0,0.0,0.366261
4,25%,0.0,11.914687,0.0,0.0,0.0,0.0,0.455190
5,50%,0.0,12.867707,0.0,0.0,0.0,0.0,0.505340
6,75%,0.0,14.132025,0.0,0.0,0.0,0.0,0.647783
7,max,0.0,14.781542,0.0,0.0,0.0,0.0,0.939974

In [5]:
df_any = pd.read_csv('../assignment-development/data/any.csv')
df_any

,Unnamed: 0,Total orders,Avg. Early pickup time,Fulfilled orders,Dropped orders,Rejected orders,Profit,Utilisation spread
0,count,10.0,10.000000,10.0,10.0,10.0,10.0,10.000000
1,mean,0.0,-56.698110,0.0,0.0,0.0,0.0,0.535301
2,std,0.0,85.387768,0.0,0.0,0.0,0.0,0.149577
3,min,0.0,-299.046304,0.0,0.0,0.0,0.0,0.371420
4,25%,0.0,-33.403746,0.0,0.0,0.0,0.0,0.437384
5,50%,0.0,-28.517406,0.0,0.0,0.0,0.0,0.498534
6,75%,0.0,-25.344760,0.0,0.0,0.0,0.0,0.584719
7,max,0.0,-23.905859,0.0,0.0,0.0,0.0,0.854551

In [6]:
df_rand = pd.read_csv('../assignment-development/data/random.csv')
df_rand

,Unnamed: 0,Total orders,Avg. Early pickup time,Fulfilled orders,Dropped orders,Rejected orders,Profit,Utilisation spread
0,count,10.0,10.000000,10.0,10.0,10.0,10.0,10.000000
1,mean,0.0,-11.713611,0.0,0.0,0.0,0.0,0.503277
2,std,0.0,5.283047,0.0,0.0,0.0,0.0,0.134475
3,min,0.0,-18.250457,0.0,0.0,0.0,0.0,0.341975
4,25%,0.0,-14.271578,0.0,0.0,0.0,0.0,0.418934
5,50%,0.0,-12.764888,0.0,0.0,0.0,0.0,0.469735
6,75%,0.0,-11.403857,0.0,0.0,0.0,0.0,0.567462
7,max,0.0,0.949151,0.0,0.0,0.0,0.0,0.772234